/* estilos.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    background-color:rgb(59, 59, 227);
    padding: 20px;
}

#mensaje{
    margin-bottom: 5%;
    text-align: center;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
    background-color: rgb(0, 255, 191);
    width: 100%;
    margin: 10px auto;
    border: 2px solid rgb(59, 59, 227);
    padding: 20px;
}

input, button {
    display: block;
    width: 50%;
    margin: 10px auto;
}

button {

background-color:rgb(54, 54, 218);
color: white;
text-align: center;
margin-left:25%;
margin-top: 20px;
display: block;
text-decoration: none;
border: 2px solid ;
border-color:rgb(59, 59, 227);
border-radius: 10px;
text-transform: uppercase;
  
}

#calcular, #otra, #salir {
    display: none;
}

#resultado {
    text-align: center;
    font-weight: bold;
}

/* Ocultar el input y el label de la remuneración al principio */
#remuneracion, #remuneracion-label {
    display: none;
}
#tablaClientes {
width: 100%;
border: 1px;
border-radius: 5px 5px 5px;
}
#tablaClientes tbody td{
border: 1px solid;
}
.miBoton{
background-color:rgb(59, 59, 227);
color: white;
margin: 45%;
text-align: center;
margin-left:45%;
margin-top: 50px;
display: block;
text-decoration: none;
border: 2px solid ;
border-color:rgb(59, 59, 227);
border-radius: 10px;
text-transform: uppercase;
}
.verHistorial{
margin:20%;
background-color:rgb(59, 59, 227);
color: white;
text-decoration: none;
border: 2px solid  rgb(59, 59, 227);
border-radius: 10px;
}
.limpHist{
margin:-10%;
margin-top:100%;
background-color: rgb(59, 59, 227) ;
color: white;
border: 2px solid  rgb(59, 59, 227);
text-decoration: none;
border-radius: 10px;
}
.actualizar{
    margin: 15%;
    margin-top:100%;
    background-color: rgb(59, 59, 227) ;
    color: white;
    border: 2px solid  rgb(59, 59, 227);
    text-decoration: none;
    border-radius: 10px;
    }
.swal2-confirm {
    margin: 30px !important;
  }
  #UF{
    color: black;
    background-color:rgb(10, 254, 10);
    color:black;

  }
  #resultado{
    font-size: 20px;
    margin: 2%;
    color:brown;
    
  }
  
 h2{
    margin: 5%;
text-align: center;
font-weight: normal;
font-size: 24px !important;
font-family: Georgia, 'Times New Roman', Times, serif !important;
margin-top:  5%; 
}  

input, button {
    padding: 5px;
    font-size: 15px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}